[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xrpl-py = "*"
discord-py-interactions = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
logging = "*"
aiomysql = "*"
configparser = "*"
xumm-sdk-py = "*"

[dev-packages]

[requires]
python_version = "3.12"
